.login-menu {
  position: relative;
}

.login-dropdown {
 display: none;

    position: fixed;

    top: 180px;      
    right: -80px;

    width: 300px;

    background: white;
    padding: 20px;

    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.3);

    z-index: 99999;
}

.login-dropdown.active {
  display: block;
}

.login-dropdown input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;

  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-dropdown label {
  color: black;
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.login-dropdown button {
  width: 100%;
}