.container {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
  padding: 20px;
  justify-content: start;
}

.grid-card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 8px 32px rgba(0,0,0,0.1);
  transition: 0.3s ease;
  margin-inline-end: 30px;
  max-width: 300px;
  justify-content: start;
  
}

.grid-card:hover {
  transform: translateY(-5px);
}

.grid-card img {
 
  height: auto;
  margin-bottom: 5px;
  margin-block: 10px;
}
