canvas {
    background: black;
    border: 4px solid rgb(89, 197, 199);

    /* Spielfeld */
    height: 600px;
    width: 1000px;
    border-radius: 10px;
    aspect-ratio: 1 / 1;
  }



